*{
    font-family: Arial, Helvetica, sans-serif;
}

html{
    min-height: 100%;
}

body{
    height: fit-content;
    margin: 0;
    background-repeat: repeat-x;
    background-attachment: absolute;
    object-fit: fill;
    background: linear-gradient(#4e4e4e, #2e2e2e) fixed;
}

header{
    display: block;
    position: fixed;
    height: 80px;
    width: auto;
    left: 0px;
    right: 0px;
    top: 0px;
    background-color: #2f2f2f;
    z-index: 2;
}

#barradepesquisa{
    display: block;
    position: absolute;
    left: 35%;
    top: 18%;
}

#busca{
    display: inline-block;
    width: 300px;
    height: 43px;
    border: 1px solid white;
    border-radius: 15px;
}

#rgb{
    display: block;
    height: 2px;
    width: auto;
    position: absolute;
    top: 115px;
    right: 0px;
    left: 0px;
    background: repeating-linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet, red);
    background-repeat: repeat-x;
	background-size: 400% 400%;
	animation: RGB 3s linear infinite;
    border: 1px solid transparent;
    margin-bottom: -20px;
    z-index: -1;
}

@keyframes RGB {
    0%{background-position:100% 50%}
    100%{background-position:-33% 50%}
}

#submenu{
    display: block;
    position: relative;
    height: 45px;
    text-align: center;
    top: 80px;
    width: auto;
    left: 0px;
    right: 0px;
    background-color: #1f1f1f;
    z-index: 1;
}

#categorias{
    display: inline-block;
    width: 100%;
    position: relative;
    left: 0px;
    right: 0px;
    top: -4px;
    height: fit-content;
    width: fit-content;
    color: white;
    list-style-type: none;
    font-weight: bold; 
}

#link-submenu{
    color: white;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

#link-submenu:hover{
    color: #00930f;
}

#submenu-categorias{
    display: inline-block;
    margin-right: 50px;
}

.dropbtn {
    background-color: #1f1f1f;
    color: white;
    font-size: 18px;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
}

.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 10px 10px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {color: #00930f;}

.carousel {
    position: relative;
    margin-top: 125px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    z-index: 0;
}

.carousel-inner {
    position: relative;
    overflow: hidden;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.carousel-open:checked + .carousel-item {
    position: static;
    opacity: 100;
}

.carousel-item {
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
}

.carousel-item img {
    display: block;
    object-fit: cover;
}

.carousel-control {
    background: white;
    border-radius: 50%;
    color: black;
    cursor: pointer;
    display: none;
    font-size: 40px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 0;
}

.carousel-control.prev {
    left: 2%;
}

.carousel-control.next {
    right: 2%;
}

.carousel-control:hover {
    background: #00930f;
    color: white;
}

#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3 {
    display: block;
}

.carousel-indicators {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}

.carousel-indicators li {
    display: inline-block;
    margin: 0 5px;
}

.carousel-bullet {
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 50px;
}

.carousel-bullet:hover {
    color: #aaaaaa;
}

#carousel-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
#carousel-3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet {
    color: #00930f;
}

#title {
    width: 100%;
    position: absolute;
    padding: 0px;
    margin: 0px auto;
    text-align: center;
    font-size: 27px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Open Sans', sans-serif;
    z-index: 9999;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33), -1px 0px 2px rgba(255, 255, 255, 0);
}

#blocos-produtos{
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.secao {
    display: block;
    color: white;
    padding: 10px;
    background-color: #00930f;
}

#produtos{
    display: inline-block;
    height: fit-content;
    width: 300px;
    padding: 15px;
    background-color: white;
    border-radius: 25px;
    margin-right: 40px;
    margin-bottom: 40px;
}

#nome-produtos{
    font-size: 20px;
}

#preco-produtos{
    font-size: 24px;
}

#comprar-home{
    display: block;
    text-align: center;
    text-decoration: none;
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    background-color: #00930f;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    margin-top: -10px;
}

#comprar-home:hover{
    background-color: #007a0c;
}

#comprar-produto{
    display: inline-block;
    text-align: center;
    text-decoration: none;
    background-color: #00930f;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 40px;
    border-radius: 5px;
    position: relative;
    color: white;
    font-weight: bold;
    border-right: 3px solid #007a0c;
}

#comprar-produto:hover{
    background-color: #007a0c;
}

.img-display{
    display: inline-block;
    overflow: hidden;
    width: 500px;
    height: 500px;
}
.img-showcase{
    display: flex;
    transition: all 0.5s ease;
}
.img-showcase img{
    min-width: 100%;
}
.img-select{
    display: flex;
}
.img-item{
    margin: 0.3rem;
}
.img-item:nth-child(1),
.img-item:nth-child(2),
.img-item:nth-child(3){
    margin-right: 0;
}
.img-item:hover{
    opacity: 0.8;
}

@media screen and (min-width: 992px){
    .card{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1.5rem;
    }
    .product-imgs{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .product-content{
        padding-top: 0;
    }
}

#nome-produtos-fav{
    font-size: 20px;
}

#preco-produtos-fav{
    font-size: 24px;
}

#meusdados{
    display: block;
    height: fit-content;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}